<p>Testing 123</p>

<%= form_for(@payment, url: reservation_payments_path) do |f| %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= @reservation.start_date %><br>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= @reservation.end_date %><br>
  </div>
  <div class="field">
    <%= f.hidden_field :reservation_secure_token, value: @reservation.secure_token %><br>
  </div>
  <div class="field">
    <div id="dropin"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%= @client_token %>", 'dropin', {
      container: 'dropin'
    });
  }

  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;

</script>





